# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
*/node_modules

# Python
*/venv
*/__pycache__/

# next.js
/.next/
/out/

# production
/build

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# Uploads & related files
/backend/uploads
/backend/fixed
pdf_extract_kit
/backend/generated_pdfs